.previously-purchased-section {
  padding: 12px;
}

.previously-purchased-section .previously-purchased-section__title {
  margin: 0;
}

.previously-purchased {
  display: grid;
  grid-template-columns: 50% 50%;
  list-style-type: none;
  padding: 0;
}

.previously-purchased .previously-purchased__item {
  margin: 12px 0;
  padding: 0 6px;
}

.previously-purchased .previously-purchased__item .previously-purchased__item__button {
  background: none;
  border: none;
  padding: 0;
  width: 100%;
}

.previously-purchased .previously-purchased__item .previously-purchased__item__button p {
  text-transform: capitalize;
  margin: 0 0 8px 0;
  font-weight: 600;
  font-size: 1rem;
}

.previously-purchased .previously-purchased__item .previously-purchased__item__button img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid #e5e5e5;
  border-radius: 100%;
}

button.previously-purchased__item__delete {
  text-transform: capitalize;
  border: 0;
  background: #ff0045;
  color: #fff;
  border-radius: 4px;
  padding: 6px;
  width: 100%;
}
